<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{usermaster/layout/template :: layout(~{::title},~{::body/content()})}">
<head>
<title>Login</title>
</head>
<body>
    <div class="container body-container">
        <div class="col-md-6 login-form">
            <h3>Login Form</h3>
            <form th:action="@{/usermaster/login}" method="post">
                <p th:if="${param.error}">ログインに失敗しました</p>
                <div class="form-group">
                    <input type="text" class="form-control" name="userId"
                        placeholder="Your UserId *" value="" required />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password"
                        placeholder="Your Password *" value="" required />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>